@model Bangazon.Models.OrderViewModels.OrderDetailViewModel

@{
    ViewData["Title"] = "ShoppingCart";
}

<h2>ShoppingCart</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LineItems.FirstOrDefault().Product.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LineItems.FirstOrDefault().Product.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LineItems.FirstOrDefault().Units)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LineItems.FirstOrDefault().Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentTypes)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LineItems)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Units)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
           
        </tr>
        }
    </tbody>
</table>
