@model Bangazon.Models.OrderViewModels.OrderDetailViewModel

@if (Model.Error != null)
{
    @Html.DisplayFor(model => model.Error)
}
else

{
    ViewData["Title"] = "ShoppingCart";


<h2>ShoppingCart</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LineItems.FirstOrDefault().Product.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LineItems.FirstOrDefault().Product.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LineItems.FirstOrDefault().Units)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LineItems.FirstOrDefault().Cost)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LineItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Units)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
            </tr>
        }
    </tbody>
</table>

       <form asp-action="Purchase" asp-controller="Products">
           <div) class="form-group">
               <input type="hidden" name="Order.OrderId" value="@Model.Order.OrderId"/>
               <select asp-for="Order.PaymentTypeId" asp-items="@Model.PaymentTypes"></select>
              <input type="submit" value="Purchase" />
           </div)>
            </form>
    }

