@model Bangazon.Models.OrderViewModels.MultipleOrdersViewModel


@if (Model.Error != null)
{
    @Html.DisplayFor(model => model.Error)
}
else

{
    ViewData["Title"] = "GetOpenOrders";


    <h1>Multiple Orders:</h1>

    <table class="table">
        <thead>
            <tr></tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ApplicationUsers)
            {

            <th>
                @Html.DisplayNameFor(modelItem => item.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => item.LastName)
            </th>
            <th>
               Number of Orders
            </th>


            <tr>
                <td>
                    @item.FirstName
                </td>
                <td>
                    @item.LastName
                </td>
                <td>
                    @Html.DisplayFor(model => item.Orders.Count)
                </td>
            </tr>
            }
}
            }

            }
            }
            </tbody>
        </table>
}
